$avatar-sizes: 2 3 4 5 6 7 8 9 10 11 12 13;
@each $size in $avatar-sizes{
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .avatar#{$infix}-#{$size} {
        @include size-box ($size * 0.5 + rem!important);
        font-size: $size * 0.25 + rem;
        border-radius: 100%;
        object-fit: cover;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.avatar{
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  object-fit: cover;
}
