.breadcrumb-thick {
  .breadcrumb-item {
    &:before {
      content: unset;
    }
    a {
      background: $warning;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 20px 15px 20px 45px;
      height: 50px;
      position: relative;

      &:after {
        content: "";
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid $warning;
        position: absolute;
        right: -25px;
        top: 0;
        z-index: 1;
      }

      &:before {
        content: "";
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #fff;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
