.btn-group-separatedline {position: relative; display: inline-flex; vertical-align: middle;
  & > .btn {position: relative; flex: 1 1 auto; color: #051d43;}
  & > .btn:not(:first-child) {border-left: 0; border-radius: 0 $border-radius $border-radius 0;}
  & > .btn:not(:last-child) {border-right: 0; border-radius: $border-radius 0 0 $border-radius;
    &::after {content: ''; @include size-box (1px,18px); position: absolute; top: 50%; right: 0; margin: -8px 0; background-color: $border-color}
  }
  & > .btn:not(:first-child):not(:last-child) {border-radius: 0;
    &::after {content: '';@include size-box (1px,18px); position: absolute; top: 50%; right: 0; margin: -8px 0; background-color: $border-color}
  }
  .btn:disabled{
    opacity: 1;
    color: $gray-500;
  }
}

//customer detail
.btn-info-box{
  text-align: right;
  margin: {
    right: -0.5625rem;
    top: -0.5rem;
  };
}
