// Buttons
.btn {
  font-weight: bold;
}
.modal-footer, .card-footer {
  .btn{
    min-width: 7.5rem;
  }
}

.btn.rounded-circle-left {@include size-box (2.5rem,1.5rem);padding: 0; min-width: auto; line-height: 1px; border: $border-width solid $border-color; border-radius: 2.5rem 0 0 2.5rem; align-self: center}
.btn-success {color: $white}
.btn-outline-ghost {
  &:hover, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
  &.dropdown-toggle:focus {background-color: rgba(0, 0, 0, .1); color: $body-color; border-color: $border-color}
  &.disabled, &:disabled {color: #666}
}

.btn-square {
  padding: 0;
  min-width: auto;
  @include size-box($input-height);
  line-height: $input-height;
  text-align: center;
  display: table-cell;
  border-radius: $border-radius;
  vertical-align: middle;
  justify-content: center;

  &.btn-sm {
    @include size-box(1.5rem);
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
  &.is-loading {
    display: inline-block
  }
}

$icon-sizes: 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2;
@each $size in $icon-sizes{
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .btn-square#{$infix}-#{$size} {
        @include size-box($size * 0.5 + rem);
        line-height: $size * 0.5 + rem;
        font-size: $size * 0.25 + rem;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {color: $body-color; border-color: $border-color;
    &:focus {box-shadow: none}
  }
}

//collapse section
.collapse-btn{
  padding: 0.125rem 0.75rem;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
  &:before{
    content: "\f106";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.3rem;
  }
}
.collapse-btn[aria-expanded="false"]:before{
  content: "\f107";
}
.collapse-btn[aria-expanded="true"]:before{
  content: "\f106";
}

.btn:disabled, .btn.disabled{
  cursor: not-allowed;
  opacity: 0.4;
}

//summary
.btn-collapse{
  position: absolute;
  cursor: pointer;
  left: 100%;
  transition: all .3s ease-in-out;
  top: 12.5625rem;
  z-index: 9999;
  img{
    width: 0.625rem;
  }
}

.btn-primary.btn-icon {background-color: #e6edf7; color: #051d43; border-color: #e6edf7;}

.btn-form {
  padding: 0.53125rem 0.75rem;
}

.btn-dropdown {
  width: 12.5rem;
  padding: 0.4375rem 0.75rem;
  font-weight: normal !important;
  font-size: $font-size-base;
  @include flex-center;
  justify-content: space-between;
  border: 1px solid $border-color;
  i{
    font-size: 0.6875rem;
  }
}
.btn-layout-select{
  width: 10.625rem;
}

.btn-link{
  padding: 0;
  min-width: unset;
  .text-light-dark:hover {
    color: $link-color;
  }
}
