// Card

.card {
  .board {margin: 0 -0.625rem; padding-bottom: 4.0625rem; white-space: nowrap;}
  .board-wrap {
    padding-bottom: .6rem
  }
  .card-title {font-size: 1.125rem}
  .card-img-top {@include size-box (4rem);}
  .card-col {display: inline-block; flex-shrink: 0; padding: 0 0.625rem; width: 16.875rem;
    header, .card-list {background-color: #f8f8f8;}
    header {position: relative; font-size: 0.6875rem; background-color: #edf0f5; padding: 0.8rem 0.5rem;
      .progress {height: 0.1875rem; display: flex; justify-content: space-around;
        .col{
          @include padding-x(0.0625rem);
        }
        .progress-item{
          height: 100%;
          border-radius: 1.25rem;
          background-color: #CDD4DC;
        }
      }
    }
    .card-list {padding: .5rem .5rem 3rem; border: 0; width: 100%; transition: padding-bottom ease 0.5s; position: relative;
      .card {position: relative; margin: 0 0 .6rem; width: 100%; min-height: 7.5rem; border: 0; box-shadow: none!important; cursor: grab; transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }
  }
  h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
  }
}
.card-img-overlay {
  display: none;
  top: auto; bottom: 0; left: 0; border-bottom-left-radius: $size-xl; border-bottom-right-radius: $size-xl; padding: 0;
}
.card-wrapper { overflow: hidden;
  &:hover {
    .card-img-overlay {
      display: flex; background-color: rgba(0,0,0,.4); height: 4.6875rem; cursor: pointer;
      label {
        padding: 0;
        @include flex-center($content-center:true);
        flex-direction: column;
        input{
          height: 0;
        }
      }
    }
  }
}
.card-option {position: absolute; top: 0; right: 0; padding: .25rem}
.card-added {
  .drag-item-placeholder {background: #f2fafe;}
  .table-borderless tbody tr td {border-top: 1px solid $border-color!important; border-right: 0;border-left: 0;}
}

@mixin card-variant($background) {
  @include gradient-bg($background);
  color: color-yiq($background);
}

@each $color, $value in $theme-colors {
  .card-#{$color} {
    @include card-variant($value);
  }
}
$header-color: #376aaf;

.board-wrap {
  width: 100%;
  position: relative;
}

.partner-total-inactive{
  position: relative;
  &:after{
    @include pseudo($bg-color: #fff);
    @include size-box(100%,24px);
    bottom: 0;
    left: 0;
  }
}
