// Checkboxes

$check-size: 1;
$check-color: #2A2A2A;
.input-check {
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  span{
    color: inherit;
  }
}

input[type=checkbox], input[type=radio] {
  width: 0;
  opacity: 0;
  + .check {
    @include size-box ($check-size + rem);
    border: solid 1px #a0a0a0;
    display: inline-flex;
    vertical-align: -0.1875rem;
    position: relative;
  }
}
input[type=checkbox] + .check {
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  &:before, &:after {
    @include pseudo(inline-block);
    @include size-box (0);
    transition: all .3s ease-in-out;
    border-bottom: solid 1px;
    border-color: white;
    transform-origin: 0 0;
    opacity: 0;
    border-radius: 0.625rem;
  }

  &:before {
    transform: rotate(45deg);
    left: 0.1875rem;
    top: 0.5rem;
  }

  &:after {
    transform: rotate(-45deg);
    left: 0.3125rem;
    top: 0.6875rem;
  }
}
input[type=checkbox]:checked {
  + .check {
    border-color: #e5f5fd;
    background-color: #e5f5fd;

    &:before, &:after {
      border-color: $check-color;
    }

    &:before {
      width: 0.25rem;
      opacity: 1;
    }

    &:after {
      width: 0.625rem;
      opacity: 1;
      transition-delay: 0.2s;
    }
  }
}

//radio checkbox
input[type=radio] + .check {
  border-radius: 100%;
  &:before {
    @include pseudo($bg-color: #fff);
    @include size-box(0);
    border-radius: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
input[type=radio]:checked + .check{
  &:before{
    @include size-box(10px);
    background-color: #aed8ed;
    opacity: 1;
  }
}
//role form
.custom-checkbox .custom-control-label::before {border-radius: 2px; border-width: 2px;}
.tree-map{
  label{
    color: $body-color;
  }
  i{
    vertical-align: -1px;
  }
  .tree-map-parent{
    padding: 8px 1rem;
    position: relative;
    margin-left: 30px;
    &:before,&:after{
      content: '';
      left: -22px;
      position: absolute;
      right: auto;
    }
    &:before{
      @include size-box (1px,100%);
      border-left: 1px solid #ddd;
      bottom: 50px;
      top: 0;
    }
    &:after{
      @include size-box (35px,20px);
      border-top: 1px solid #ddd;
      top: 15px;
    }
    &:last-child{
      &:before{
        height: 16px;
      }
    }
  }
  .tree-map-item-group{
    margin-left: 8px;
    .tree-map-item {
      position: relative;
      padding: 8px 1.5rem;
      &:before{
        content: '';
        display: block;
        @include size-box (20px,100%);
        border-color: #ddd;
        border-style: solid;
        border-width: 0 0 1px 1px;
        position: absolute;
        top: -50%;
        left: 0;
      }
      &:first-child{
        &:before{
          height: 50%;
          top: 0
        }
      }
    }
  }
}

//switcher
.switcher{
  .checkmark{
    width: 40px;
    border-radius: 18px;
  }
  .checkmark-lg{
    width: 75px;
    height: 30px;
    border-radius: 18px;
  }
  .checkmark-sm{
    width: 30px;
    height: 16px;
    border-radius: 18px;
  }
  input[type=checkbox] + .checkmark{
    &:before{
      content: '';
      width: 16px;
      height: 16px;
      background-color: #adb5bd;
      position: absolute;
      z-index: 9;
      border-radius: 50%;
      top: 2px;
      left: 2px;
      transition: .4s;
    }
  }
  input:checked[type=checkbox] + .checkmark{
    &:before{
      left: 22px;
      background-color: #ffffff;
      transition: .3s;
    }
  }
  input[type=checkbox] + .checkmark-lg{
    &:before{
      width: 26px;
      height: 26px;
      top: 2px;
      left: 2px;
    }
  }
  input[type=checkbox]:checked + .checkmark-lg{
    &:before{
      left: 47px;
    }
  }
  input[type=checkbox] + .checkmark-sm{
    &:before{
      width:12px;
      height: 12px;
      top: 2px;
      left: 2px;
    }
  }
  input[type=checkbox]:checked + .checkmark-sm{
    &:before{
      left: 16px;
    }
  }
}
