.dropdown {
  &.show {
    .fa-chevron-down:before {content: "\f077"}
  }
  .dropdown-item {min-height: $input-height}
}
.dropdown-scroll .dropdown-menu , .dropdown-menu .dropdown-scroll{
  max-height: 15rem;
  overflow-y: auto;
}
//filter dropdown
.filter-dropdown {
  width: 21.875rem;
  .tab-content{
    height: 25rem;
    padding: 1rem;
    overflow-y: auto;
  }
  .filter-badge{
    background-color: #f8f8f8;
    padding: 0.3125rem 1rem;
    border-radius: 1.25rem;
  }
  .filter-badge + .filter-badge {
    margin-left: .5rem;
  }
}

.dropdown-notification-content {
  width: 21.875rem;
  max-height: 16.25rem;
  .dropdown-item{
    white-space: normal;
    &:active,.active{
        color: $body-color;
        background-color: #deebff;
    }
  }
  .input-check{
    margin-top: 0.125rem;
  }
  small{
    display: block;
  }
}

//lead-detail
.info-header-dropdown {
  z-index: 99999;
}

//c-table
.dropdown-table-config{
  max-height: 14.8125rem;
  overflow-y: scroll;
}

// Arrows
.arrow-top-right {
  @include dropdown-arrow-right(0.75rem);
}

.arrow-top-left {
  @include dropdown-arrow-left(-0.375rem);
}

.dropdown-select-status{
  .dropdown-item.active{
    background-color: $success;
  }
}
