// Forms

label {
  margin-bottom: .125rem;
  color: #909090;
  font-size: 0.75rem;
}
.form-select {min-width: 8.125rem;}

.merge-input{
  border: 1px solid #ced4da;
  align-items: center;
  border-radius: 0.1875rem;
  overflow: hidden;
  .form-control, .input-group-text {
    border: 0;
  }
  input{
    @include padding-y(0);
  }
  > formly-field {
    flex: 1 1 0%;
  }
}

//customer quote form xml
app-fill-form-data {
  .page-header{
    display: none;
  }
  .section-header-content{
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: 'Calps-semilight';
    margin-bottom: 0;
  }
  #page-Page1 .ui-form-section {
    padding-top: 0;
  }
}
.inline-row {
  display: flex;
  flex-wrap: wrap;
}

formly-field{
  label span{
    color: $danger;
  }
}

::placeholder{
  color: $text-muted !important;
}

.input-group-prepend ~ .form-control .ng-select-container {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
// Custom forms

.custom-control-label {
  &::before, &::after {border-color: #d1d1d1;}
}


//form-inline
.form-inline {
  label {
    margin-right: .5rem;
  }
}

//bulk edit
.form-render-w-checkbox {
  input-widget, .form-group, app-date-widget {
    label {
      padding-left: 1.5rem;
    }
  }
  section-widget{
    position: relative;
  }
  .form-check {
    position: absolute;
    top: 1.125rem;
  }
}

//target group form - formly + ngSelect
.input-group-prepend ~ .input-addons {
  .ng-select-container{
    border-radius: 0 0.25rem 0.25rem 0 !important;
  }
  .ng-select-opened>.ng-select-container{
    border-radius: 0 0.25rem 0 0 !important;
  }
}

//form-repeat-section
fieldset input {
  min-width: 6rem;
}

//entities-select.type
.entity-items-select {
  height: 5.625rem;
  overflow-y: auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
