.col {min-width: 0}
.row-cols-6>* {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%}
.row-cols-5>* {-ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%}
.row-cols-4>* {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%}
.row-cols-3>* {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
.row-cols-1>* {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.row-cols-1>* {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}


.d-grid{
  display: grid;
  .widget{
    margin-bottom: 0;
  }
}
.d-grid-2{
  grid-template-columns: 1fr 1fr;
}
.d-grid-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.d-grid-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.d-grid-5{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.gap-3{
  gap: 30px;
}


.style1 {
  display: grid;
  grid-template-columns: 40px auto;
  .icon{
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
