.icon {
  display: inline-block;
  padding: 0;
  font-size: 1.625rem;
  text-align: center;
  border-radius: 6.25rem;
  vertical-align: middle;
  justify-content: center;
  min-width: auto;
  border: solid 1px #ddd;
}

$icon-sizes: 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2;
@each $size in $icon-sizes {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .icon#{$infix}-#{$size} {
        @include size-box ($size * 0.5 + rem !important);
        line-height: $size * 0.5 - 0.125 + rem !important;
        font-size: $size * 0.25 + rem;
      }
    }
  }
}

.icon-more {
  display: block;
  height: 1.25rem;
  //background-image: url('images/dot.png');
  background-repeat: no-repeat;
  background-position: center center
}

img.icon{
  object-fit: cover;
}

.icon-md-5 {
  .ico{
    display: block;
    font-size: 1.75rem;
    margin-top: 0.375rem;
  }
}

.icon-md-6 {
  .ico{
    display: block;
    font-size: 1.8125rem;
    margin-top: 0.75rem;
  }
}

.list-group-item .icon{
  flex-shrink: 0;
}

.icon-w-text{
  width: 1.25rem !important;
}

.icon-md-3{
  font-size: 0.6875rem;
  font-weight: bold;
  i{
    font-size: 0.75rem;
  }
}

.info-box .media .icon-md-4{
  .fa-edit{
    margin-left: 0.1875rem;
  }
  .fa-envelope{
    margin-top: 0.6875rem;
  }
}
.icon-md-4.fa-edit {
  font-size: 0.875rem;
  &:before{
    margin-left: 0.1875rem;
  }
}

.tab-notification{
  font-size: 0.4375rem;
  position: absolute;
  top: 1rem;
  right: 1.5625rem;
}
