.customer-img{
  @include size-box(100%,13.4375rem);
  iframe{
    width: 100%;
    height: 100%;
  }

  .update-google-map, .update-avatar{
    padding: .5rem;
    height: 100%;
    @include flex-center($content-center:true);
    flex-direction: column;
    background-color: #f5f5f5;
    img{
      object-fit: contain;
      width: 8.5rem;
    }
  }
}
