// input group

.input-group-action {
  position: relative;
  button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2.5rem;
    z-index: 1;
    & + .is-invalid{
      background-image: none;
    }
  }
  .form-control{
    padding-right: 2.5rem;
  }
}
