.list-group-timeline {position: relative; list-style: none; margin-top: 1.5rem;
  .heading-sm{
    color: #2A2A2A;
  }
  &:before {content: " "; position: absolute; top: -1rem; bottom: 2.4rem; left: 0; margin-left: 0.9375rem; width: 0.1875rem; background-color: $border-color}
  & > li.list-group-item {position: relative; margin-left: 3rem;
    &::before, &::after {content: ""; display: table}

    & > .dot {
      position: absolute;
      top: .25rem;
      left: 0;
      margin-left: -3rem;
      line-height: 2rem;
      text-align: center;
      z-index: 100;
      border: 0.1875rem solid #ced4da;
      @include flex-center($content-center:true);
    }
    & > label.dot {margin-left: -4rem}
  }
  .fa-edit{
    margin-left: 0.125rem;
    margin-bottom: 0.125rem;
  }
  .icon-md-4 i{
    font-size: 0.875rem;
  }
}

.list-group-borderless {
  .list-group-item {border: 0; border-radius: 0;}
  a {text-decoration: none !important;}
}

.item{
  display: grid;
  padding: .5rem 0;
}

.list{
  .item{
    border-bottom: solid 1px #ddd;
    &:last-child{
      border-bottom: none;
    }
  }
}

//partner - upload list
.upload-list ul li {
  &:hover{
    background-color: #f5faff;
    .btn-link{
      background-color: #e6edf7;
    }
  }
  .file-type, img{
    border-radius: .25rem;
  }
  .file-type{
    @include flex-center($content-center:true);
    background-color: $secondary;
    color: white;
  }
}

//time line in widget customer summary
.list-time-line{
  .list-group-item {
    &:before{
      @include pseudo($bg-color: #ddd);
      @include size-box(1px,calc(100% - 2rem));
      left: 0.96875rem;
      top: 2.75rem;
      z-index: 2;
    }
    &:last-child{
      &:before{
        content: unset;
      }
    }
  }
}
.render-layout, .add-row {
  .list-group-item{
    padding: .75rem 0;
  }
}

.file-item{
  position: relative;
  .file-item-link{
    display: block;
    text-align: center;
    background: #FAFAFA;
    padding: 0.9375rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: .25rem;
  }
  .delete-file{
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &:hover{
    .delete-file{
      opacity: 1;
    }
  }
  + .file-item{
    margin-left: 0.9375rem;
  }
}

.add-member-list{
  .list-group{
    height: 14.125rem;
    overflow-y: auto;
  }
  .list-group-item{
    line-height: 1.2;
    cursor: pointer;
    &:hover{
      background-color: $light-cyan;
    }
    &:first-child {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    //&:last-child {
    //  border-bottom: 1px solid $border-color;
    //}
  }
  .form-control{
    border-bottom-left-radius: 0;
  }
  .input-group-text{
    border-bottom-right-radius: 0;
  }
  .form-control, .input-group-text{
    border-color: $border-color;
  }
}

.list-group-flush{
  .list-group-item:last-child {
    border-bottom-width: 0;
  }
}
