.loading-page {
  height: 100vh;
  width: 100%;
  @include flex-center($content-center:true);

  .loading-content {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 2px #00499b, 0 0 1px #fff, 0 0 1px #01d;
    letter-spacing: 2px;
    position: relative;
    animation: floating 1s ease-out infinite alternate;

    &:before {
      content: 'Loading';
      position: absolute;
      left: 0;
      top: 0;
      color: $light-dark ;
      width: 100%;
      height: 100%;
      overflow: hidden;
      animation: loader 1s linear infinite;
    }
    &:after {
      content: '';
      width: 100%;
      height: 10px;
      background: rgba(0, 0, 0, 0.15);
      position: absolute;
      left: 0;
      top: 100%;
      -webkit-filter: blur(4px);
      filter: blur(4px);
      border-radius: 50%;
      -webkit-animation: shadow 1s ease-out infinite alternate;
      animation: shadow 1s ease-out infinite alternate;
    }
  }
}

@keyframes loader {
  0%  { width: 0% }
  100%  { width: 100% }
}
@keyframes floating {
  0%  { transform: translateY(0);}
  100%  { transform: translateY(-25px);}
}
@keyframes shadow {
  0%  { transform: scale(0.8);}
  100%  { transform: scale(1.2);}
}
