.modal {
  .modal-header {
    align-items: center;

    .modal-title {
      text-transform: uppercase;
      font-family: 'Calps-semilight';
      font-size: 1.3rem;
    }

    .btn.rounded-circle-left {
      display: none
    }
  }

  &:not(.right) {
    .modal-header{
      background-color: $teal;
      border-bottom: 0 !important;
      .close{
        color: #555555;
      }
    }
    .modal-title {
      border-bottom: 0 !important;
      b {
        font-weight: 500
      }
    }
    .modal-footer{
      background-color: white;
      border-top: 0;
    }
  }

  .modal-content {
    box-shadow: $box-shadow
  }

  .modal-body {
    max-height: calc(100vh - 12rem); /*horizontal*/
    //max-height: calc(100vh - 13rem); /*default*/
    overflow-y: auto;
    .section-title{
      padding: 0;
      color: $gray;
    }
    json-schema-form label{
      color: $gray;
    }
    .nav-underlines ~ .tab-content{
      padding-top: 1rem;
    }

  }

  .modal-footer {
    padding: 1rem 1.5rem;
    background-color: #f8f8f8;
  }

  &.right {
    width: auto;
    .pager {display: block!important}
    .table tbody tr td {max-width: 9rem}
    .ng-select.ng-select-single {min-width: 10rem;}
    .modal-header {
      border: 0;
      overflow: hidden;
      flex-shrink: 0;
      height: 56px;
      .close {
        color: white;
        padding: 1rem;
      }

      .btn.rounded-circle-left {
        display: block
      }
    }
    .modal-dialog {min-width: 430px!important; max-width: 430px;}

    .modal-body{
      ngb-tabset {
        .tab-content{
          padding-top: 1rem;
        }
      }
    }
  }
  .ui-form-section{
    padding-top: 1rem;
  }
}

.modal-footer {
  justify-content: flex-start;
}

.right {
  .modal-header {
    background-color: #0c579b;
    border-radius: 0;
    border-bottom: 0;

    .modal-title {
      color: white;
    }
  }
}
.modal-footer {
  > * {
    margin: 0;
  }

  button {
    margin-right: 0.25rem;
  }
}

.modal-backdrop, .modal {
  z-index: 9999 !important;
}

//lead configuration - right form
.form-fix-right{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 430px;
  margin-left: 1.5rem;
  position: relative;
}

//filter
.filter-dropdown {
  border: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  min-width: 600px;
  top: 80px; /*default*/
  bottom: 56px;
  .modal-content{
    animation-name: slideIn;
    border-bottom: none;
    border-top: none;
    border-radius: 0 !important;
  }
}

.modal .modal-dialog {
  .modal-content{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: bubble;
    border: none;
    border-radius: 0.3rem !important;
  }
}

@keyframes bubble {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

/*Right*/
.modal.right.fade:not(.show) .modal-dialog {
  right: 0;
  transform: translateX(100%);
}

.modal-backdrop {
  background-color: #585858;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 500px;
  }
}

//horizontal
.layout-horizontal{
  .modal.right .modal-dialog{
    top: 56px;
  }
}

.modal-full-h .modal-body{
  height: calc(100vh - 12rem);
}
