//nav steps
.nav-steps{
  $nav-step-height: 1.5625rem;
  $nav-step-active: #76B040;
  $nav-step-done-bg: #BADA91;
  .nav-item{
    flex-grow: 1;
    position: relative;
    padding-top: 1.5625rem;
    cursor: pointer;
    + .nav-item{
      margin-left: 0.25rem !important;
    }
    .nav-item-body{
      height: $nav-step-height;
      position: relative;
      @include flex-center($content-center:true);
      background-color: $body-bg;
      &:before, &:after{
        content: "";
        border-top: $nav-step-height/2 solid transparent;
        border-bottom: $nav-step-height/2 solid transparent;
        position: absolute;
        top: 0;
      }
      &:before{
        border-left: $nav-step-height/2 solid #fff;
        left: 0;
      }
      &:after{
        border-left: $nav-step-height/2 solid $body-bg;
        right: -$nav-step-height/2;
        z-index: 1;
      }
    }
    &:first-child {
      .nav-item-body{
        border-radius: 1.25rem 0 0 1.25rem;
        &:before{
          display: none;
        }
      }
    }
    &:last-child{
      .nav-item-body{
        border-radius: 0 1.25rem 1.25rem 0;
        &:after{
          display: none;
        }
      }
    }
    &.nav-item-done{
      .nav-item-body {
        background-color: $nav-step-done-bg;
        &:after{
          border-left-color: $nav-step-done-bg;
        }
      }
    }
    &.nav-item-active{
      .nav-item-body {
        background-color: $nav-step-active;
        &:after{
          border-left-color: $nav-step-active;
        }
      }
    }
    .nav-step-name{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

}
//nav
.nav-link{
  color: $body-color;
}

// Pills
.nav-pills {
  margin-bottom: 1rem;
  .nav-link {
    margin-right: 0.3125rem;
    background-color: #F7F8FA;
    color: $body-color;
    font-size: 0.8125rem;
    &.active {
      font-weight: bold;
      background-color: $light-dark;
      color: white;
    }
  }
}
//account tabs
$account-tab-color: $light-dark;
.nav-pills.tab-main {
  .nav-link{
    margin-right: 1rem;
    max-width: 13.75rem;
  }
  .tab-title{
    min-width: 7.5rem;
    text-align: center;
    position: relative;
    padding-right: 2.5rem;
    height: 100%;
    .icon-close{
      position: absolute;
      right: 0.625rem;
      top: 50%;
      font-size: 0.8125rem;
      padding: 0 .5rem;
      transform: translateY(-50%);
    }
  }
}

.tab-main + .tab-content {
  .tab-pane{
    height: 100%;
  }

}

app-customer-list{
  .tab-content, .tab-pane{
    height: 100%;
    overflow-y: auto;
  }
}
// Tags
.nav-tags {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 11.25rem
}

.nav-tags .nav-item, .nav-item.cdk-drag-preview, .nav-tags .cdk-drag-placeholder {
  overflow: hidden;
  cursor: move;
  background-color: #ffffff;
  text-align: center;
  padding: 1.25rem ;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  z-index: 9999 !important;
}

//Underlines
.nav-form-underlines .nav-tabs{
  .nav-link.active {
    border-color: transparent;
  }
  .nav-link:hover{
    border-color: transparent;
  }
}
.nav-underlines, .nav-slides, .nav-form-underlines .nav-tabs {
  .nav-link {
    border-bottom: $nav-underlines-border-width solid transparent
  }
  .nav-link.active, .nav-item.show .nav-link {
    background-color: $nav-underlines-link-active-bg;
  }
}

.nav-underlines,.nav-form-underlines .nav-tabs {
  padding: 0 1rem;
  border-bottom: solid 1px #e5e5e5;
  .nav-item {
    padding: 0 .5rem;
    margin-bottom: -1px;
    .nav-link{
      padding: 0.1875rem 0.3125rem;
      color: #505050;
      &.active{
        color: #505050;
        border-bottom: solid 0.1875rem $nav-underlines-link-active-border-color;
      }
    }
  }
}

// Slides
.nav-slides {
  border-bottom: $nav-underlines-border-width solid $nav-underlines-border-color
}

.tab-header {
  .nav {
    padding: 0.5rem 1.5rem;
  }
  .form-group {
    margin-bottom: 0;
  }
}

//task list
.task-page, .tab-page {
  .tab-header .nav {
    padding: 0;
  }

  .tab-content, .tab-pane {
    height: 100%;
  }
  .tab-content{
    overflow-y: auto;
  }
}

// customer detail - campaign detail
.detail-tab {
  .nav {
    align-items: center;

    .nav-item:first-child {
      .nav-link {
        margin-right: 0;
        padding-right: 1rem;
        background-color: transparent;
      }
      .btn-link{
        color: inherit;
      }
    }
  }
  .tab-content{
    overflow-y: auto;
  }
}

//customer-detail, customer -summary
.info-detail{
  .nav-underlines{
    .nav-item{
      padding: 0;
      .nav-link{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem 1.25rem 0.6875rem;
        i{
          font-size: 1rem;
          margin-bottom: 0.3125rem;
        }
        &.active {
          color: $light-dark;
          border-color: $light-dark;
          span{
            font-weight: bold;
          }
        }
      }
    }
  }
}

//task detail
.sub-tab-underline .nav-underlines {
  padding-left: 0;

  .nav-link {
    padding: .5rem 0.75rem!important;
  }
}

//nav-label telephony box
.nav-label{
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #F6F7FB;
  .nav-link{
    color: $text-muted;
    &.active{
      color: $light-dark;
    }
  }
}

