.page {
  background-color: #fff;

  legend {
    font-family: 'Calps-semilight';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
  }

  .fieldset + .fieldset {
    margin-top: 1rem;
  }
}

.page-header {
  display: grid;
  padding: 2rem 1.5rem .5rem 1.5rem;
  grid-template-columns: auto 8fr;
  border-bottom: $border-width solid #e6e6e6;
}

.page-option {
  @include flex-center;
  border-left: $border-width solid #e6e6e6;
  margin-left: 1rem;
  padding-left: 1rem;
  height: 2.5rem;

  .btn-primary {
    background-color: #e6edf7;
    color: #051d43;
    border-color: #e6edf7;
  }

  .action-page {
    @include flex-center;
    margin-left: auto;
    height: 100%;

    .action-label {
      height: 100%;
      font-weight: bold;
      padding-right: 1rem;
      border-right: $border-width solid #e6e6e6;
      margin-right: 10px;
      @include flex-center;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

//.btn-inline-primary {background-color: #e6edf7; color: #051d43; border-color: #e6edf7; margin-left: 20px;}

.page-title {
  align-self: end;
  font-family: 'Calps-semilight';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 0;
}

// Customer detail - Summary
c-details-tab-layout.full-view .tab-content {
  height: 100%
}

.detail-page {
  @include margin-x(-2rem);
}

.detail-content {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;

  a:hover {
    text-decoration: none;
  }

  .info-box {
    width: 27.5625rem;
    transition: all .3s ease-in-out;
    margin-right: 1.875rem;
    position: relative;
    flex-shrink: 0;

    .card-info-header {
      display: flex;
      align-items: flex-start;
      background-color: $primary-light;
      color: white;
    }
    .btn {
      border: none;
      background-color: transparent !important;
      font-size: 0.875rem;

      &:focus {
        box-shadow: none !important;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }

      + .btn {
        margin-left: -0.3125rem;
      }
    }
    .form-control-plaintext {
      padding: 0.25rem 0;
      font-size: .875rem;
      font-weight: 600;
      small{
        font-size: 0.75rem;
      }
      a{
        color: #2251A8;
      }
    }

    embed-map {
      iframe {
        width: 100%;
      }
    }

    .render-layout {
      margin-bottom: 0;
    }
  }

  .info-detail {
    width: calc(100% - 30.25rem); //important to keep Partner is not scrolling
    flex-grow: 1;
    transition: all .3s ease-in-out;

    .list-group-flush .list-group-item {
      border: 0;
    }

    .card .icon {
      background-color: #f8f8f8;
    }
  }

  .info-header {
    @include flex-center;
    height: 3.5rem;
    flex: none;
  }

  .customer-social-link {
    .customer-facebook {
      position: relative;

      span {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .list-group .list-group-item {
      padding: 0.3125rem 0;
    }
  }

  .card-col {
    .list-group .list-group-item {
      padding: 0.75rem 0;

      .text-truncate {
        max-width: 14.125rem;
      }

      .progress {
        height: 0.25rem;
      }
    }

  }

  .card-deck {
    .col {
      .card {
        height: 100%;
        border: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.content-horizontal {
    .card-deck {
      .col {
        border-left: 1px solid $border-color;

        &:first-child, &:nth-of-type(6n) {
          border-left: 0;
        }
      }
    }
  }
}

.detail-content.close-left-bar {
  .info-box {
    position: unset;
    margin-left: -29.4375rem;
  }

  .btn-collapse {
    left: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.title-option {
  @include flex-center;
  border-left: $border-width solid #e6e6e6;
  margin-left: 1rem;
  padding-left: 1rem;
}
