.popover {
  @include shadow-wrapper();
  border: 0;
  .popover-arrow{
    transform: translateY(-50%);
    &:before{
      border: 0;
    }
  }
}
.popover-header {
  font-size: 14px;
}

.popover-body > p {
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

//.bs-popover-left > .arrow::before,
//.bs-popover-auto[x-placement^='left'] > .arrow::before {
//  border-left-color: rgba(0, 0, 0, 0.02);
//}

.confirm-btn-container {
  .btn {
    line-height: 15px !important;
    font-size: 13px !important;
  }
}
