::-webkit-scrollbar-track
{
  background-color: #f6f6f6;
}

::-webkit-scrollbar
{
  width: 0.375rem;
  background-color: white;
}

::-webkit-scrollbar-thumb
{
  background-color: #dddddd;
  border-radius: 3px;
}


::-webkit-scrollbar:horizontal
{
  height: 0.375rem!important;
}

.table-sale-list::-webkit-scrollbar-track,.table-responsive::-webkit-scrollbar-track {
  margin-top: 2.5rem;
}

