.section-title {
  align-self: end;
  font-family: 'Calps-semilight';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  padding: .5rem 0;
}

.form-section-title {
  display: grid;
  padding-bottom: .5rem;
  grid-template-columns: auto 8fr;
  .form-option {
    @include flex-center;
    border-left: 1px solid #e6e6e6;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .section-title{
    @include margin-y(0);
    @include padding-x(.5rem);
  }
  .btn-primary {
    background-color: #e6edf7;
    color: #051d43;
    border-color: #e6edf7;
  }
}

