// Table

.table {
  border: 0;
  caption {
    @include size-box(0);
    caption-side: top;
    position: sticky;
    top: 0.75rem;
    z-index: 6;
    text-align: right;
    left: 100%;
    transform: translateX(-1.75rem);
    .config-table-button{
      .dropdown-toggle{
        border-color: #ced4da !important;
      }
    }

  }
  th, td {
    vertical-align: middle !important;
    line-height: 1.5rem;
    border: solid 0.0625rem $table-border-color;
  }
  thead {
    th {
      height: $table-head-height;
      border: 0;
      span, .column-sort {
        white-space: nowrap;
      }
    }
    .value span{
      width: 12.375rem;
      justify-content: flex-end;
    }
    .column-filter{
      z-index: 3;
    }
  }
  tbody {
    tr {
      text-align: left;
      td {
        @include text-truncate;
        height: $table-cell-height;
        max-width: 1px;
        border-top: solid $border-width $table-border-color;
        border-bottom: solid $border-width $table-border-color;
        .btn-square {width: $table-cell-height; height: $table-cell-height; line-height: $table-cell-height;}
        h5 {
          font-size: 1rem;
          text-transform: none
        }
        span {
          &.dot {
            display: none
          }
        }
        &:not(:last-child) {
          overflow: hidden;
        }
      }
      .avatar-name-col{
        width: 10rem;
      }
      .progress-col{
        width: 11rem;
      }
      .id-col{
        width: 3rem;
      }
      .avatar-name-col,.progress-col,.id-col{
        max-width: unset;
      }
    }
  }
  .col-action {
    max-width: unset;
    text-align: center;
    width: 1px;
    button i{
      color: #051d43 !important;
    }
    span{
      justify-content: center;
    }
  }
  .col-checkbox {
    //TODO mila recheck
    width: 1%;
    min-width: 2.625rem;
  }
  .custom-control {
    padding-left: 0;
    .custom-control-label {
      &::before, &::after {
        left: 0
      }
    }
  }
  .column-expand .btn-link{
    text-decoration: none;
  }
}
.table-avatar{
  tbody tr td{
    height: 2.5rem;
  }
}
.table-hover{
  tbody {
    tr {
      &:hover{background-color: #e7f1f6}
      &:only-child:hover {background-color: transparent}
    }
  }
}
.table-fix-header{
  thead{
    th{
      padding: 0;
      color: #303437;
      height: $table-head-height;
      font-weight: bold;
      position: sticky !important;
      top: 0;
      z-index: 2;
      background-color: white;
      &:last-child{
        &:after{
          @include pseudo($bg-color: #fff);
          @include size-box(0.125rem,100%);
          top: 0;
          right: -0.0625rem;
        }
      }
      .th-item {
        height: 100%;
      }
      .th-item > span, .dropdown, .th-item .input-check, .column-sort, .btn-link {
        @include flex-center;
        height: 100%;
        padding: 0 0.75rem;
        border-bottom: 1px solid $table-border-color;
      }
      &.text-right .th-item span{
        justify-content: flex-end;
      }
      &.text-center .th-item span{
        justify-content: center;
      }
    }
  }
  tbody{
    tr{
      &:first-child{
        td{
          border-top: 0;
        }
      }
    }
  }
}
.table-borderless-inside{
  tr td{
    border-right: 0;
    border-left: 0;
    &:first-child{
      border-left: 1px solid $table-border-color;
    }
    &:last-child{
      border-right: 1px solid $table-border-color;
    }
  }
}
.c-table-header .dropdown-toggle::after {
  display: none;
}

.c-table-icon {
  margin-left: 0.625rem;
  color: grey;
}
.c-table-dropdown-filter {
  position: unset;

  .dropdown-menu {
    padding: 0 0 !important;
    overflow: hidden;
    margin-top: 1.5625rem;
    margin-left: 0.625rem;
    .list-group{
      max-height: 11.5rem;
      overflow-y: auto;
    }
    .list-group-item {
      padding: 0.3125rem 0.9375rem;
      font-weight: normal !important;
    }
  }

  ul.dropdown-menu {
    li > label.active {
      font-weight: 500;
    }
  }
}

.table.table-lg tbody tr td {height: 3.125rem;}

.table-responsive {
  margin-bottom: 1rem;
  overflow-y: auto;
  padding-right: 0.0625rem;
  border-bottom: 1px solid $table-border-color;
  .table {
    margin-bottom: 0;
    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 0
          }
        }
      }
    }
  }
}

//table search result
app-sales-search-results, app-customer-search-results, app-contact-search-results, app-lead-search-results, app-note-search-results, app-task-search-results, app-user-search-results {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  c-table{
    overflow-y: auto;
  }
}

//deal pipeline
.table-form-deal-pipeline{
  td {
    position: relative;
    padding: 0.625rem 0.75rem;
  }
  .badge ,.col-percent span{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
  }
  .badge{
    right: .5rem;
  }
  .col-percent {
    span {
      right: 1.375rem;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  input{
    padding: 0 .5rem;
  }
  input, .badge{
    border-radius: 0.125rem!important;
  }
  .form-control:disabled, .form-control[readonly]{
    background-color: #F8F8F8;
  }
}

//create c-table in html
.c-table-copy {
  th{
    @include padding-x(.75rem !important);
  }
}
