//telephony
%box-follow-up{
  @include size-box (31.25rem, 28.125rem);
  position: fixed;
  top: 100%;
  right: 1.5rem;
  z-index: -1;
  transition: .3s all ease-in-out;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  .card-header{
    background-color: #C6E2FA;
  }
  .nav-underlines {
    .nav-link{
      padding: 1rem 1.875rem;
    }
    .nav-link.active{
      color: $primary;
    }
  }
  .tab-content {
    height: 20.125rem;
    overflow-y: auto;
  }
  .list-group-item{
    &:hover{
      background-color: #E2F0FB;
    }
    .icon{
      background-color: #F8F9FB;
    }
  }
  &.open-call-box {
    transform: translateY(-31.5625rem);
  }
  &.collapse-call-box {
    transform: translateY(-7rem)!important;
  }
}
//call-box
.call-list{
  @extend %box-follow-up;
  .list-group-item{
    background-color: transparent;
    .icon{
      border-color: #C6E2FA;
      color: #C6E2FA;
      font-size: 0.875rem;
      font-weight: bold;
    }
    &:hover{
      .icon{
        border-color: $success;
        background-color: $success;
        color: #fff;
      }
    }
  }
}
//chat-box
.chat-list{
  @extend %box-follow-up;
  width: 51rem;
  .list-group-item{
    cursor: pointer;
    .icon{
      color: $text-muted;
    }
    &.is-online {
     .icon{
       position: relative;
       &:after{
         @include size-box(0.375rem);
         @include pseudo(block, absolute,$success);
         border-radius: 100%;
         right: 0.0625rem;
         bottom: 0.0625rem;
       }
     }
    }
    &.active{
      background-color: #E2F0FB;
      color: $body-color;
    }
  }
  .tab-content .tab-pane{
    height: 100%;
    overflow-y: hidden;
  }
}

.call-action{
  position: relative;
  .nav-item{
    .nav-link {
      padding: 1.125rem 2.0625rem 0.5rem;
      @include flex-center;
      position: relative;
      border: 1px solid transparent;
      border-top: 0;
      border-radius: 0 0 0.3125rem 0.3125rem;
      transition: .3s all ease-in-out;
    }
    &.active {
      .nav-link {
        box-shadow: 0 0.6875rem 1.25rem rgba(0, 0, 0, 0.15);
        background: white;
        color: $primary;
        border-color: $border-color;
        z-index: 1;
        &:before{
          @include pseudo($bg-color: #fff);
          @include size-box(100%,0.1875rem);
          top: -1px;
          left: 0;
        }
      }
      .follow-up-shadow{
        @include size-box(31.25rem,2.875rem);
        position: absolute;
        top: 0;
        right: -0.5rem;
        background-color: transparent;
        pointer-events: none;
        box-shadow: inset 0 0.625rem 1.25rem -1.25rem rgba(0, 0, 0, 0.3);
      }
    }
    &:last-child.active .nav-link:after{
      border-radius: 0;
    }
  }
}
.collapse-box {
  .nav-item.active .nav-link:before{
    display: none;
  }
}

.call-detail{
  .on-call{
    background-color: #E2F0FB;
    @include flex-center;
    padding: 0.75rem 1.25rem;
    .icon{
      margin-left: 0.5rem;
      background-color: #EDF4FA;
      color: #8A8D92;
    }
  }
}

%icon{
  background-color: #F8F9FB;
}
.chat-content{
  display: inline-block;
}
.chat-content-left {
  margin-right: 3rem;
  .chat-content{
    background-color: $body-bg;
    border-radius: 0.25rem 1rem 1rem;
  }
  .media-body{
    margin-left: .5rem;
  }
}
.chat-content-right {
  flex-direction: row-reverse;
  margin-left: 5rem;
  .chat-content{
    background-color: #E2F0FB;
    border-radius: 1rem 0.25rem 1rem 1rem;
  }
  .media-body {
    margin-right: .5rem;
    text-align: right;
    div,p{
      text-align: right;
    }
  }
}
