// Utilities

@import "src/assets/styles/components/utilities/icons";
@import "src/assets/styles/components/utilities/template";
@import "src/assets/styles/components/utilities/borders";
@import "src/assets/styles/components/utilities/text";
@import "src/assets/styles/components/utilities/sizing";
@import "src/assets/styles/components/utilities/spacing";
@import "src/assets/styles/components/utilities/flex";

sup {
  position: absolute;
}
sup.badge{
  padding: 0.1875rem 0.3125rem;
}

//box-shadow
.box-shadow-right{
  box-shadow: 4px 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-left{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

// overflow
.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
