//summary widget
.partner-widget {
  display: flex;
  position: relative;
  padding-bottom: 1.5rem;
  overflow-x: hidden;

  .widget {
    width: 31.25rem;
    margin-bottom: 0;
    background: white;
    flex-shrink: 0;
  }

  .widget + .widget {
    margin-left: 1.5rem;
  }

  .media .btn {
    color: $text-muted;
  }

  .partner-info {
    .list-group .list-group-item {
      padding: 0.3rem 0;
      @include flex-center;
      i {
        margin-right: .5rem;
        width: 0.8125rem;
        flex-shrink: 0;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .partner-control {
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: -0.25rem 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.05);

    a {
      font-size: 1.5rem;
      padding: 1rem;
      height: 50%;
      @include flex-center;
      color: $body-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.partner-active {
  position: relative;
  //margin-bottom: -24px !important;
  &:before{
    @include pseudo($bg-color: #fff);
    @include size-box(100%,24px);
    bottom: -24px;
    left: 0;
  }
}

.widget {
  min-height: 150px;
  border: 0;
  .heading-1{
    color: #0C579B;
  }
  .list-group-flush .list-group-item {
    border: 0;
  }
  .list-group-item{
    background-color: transparent;
    .heading-1{
      color: $body-color;
    }
  }
}

.placeholder-widget {
  @include size-box(100%);
  min-height: 150px;
  display: block;
  background-color: white;
}
