// Flex mixin

@mixin flex-vertical ($height: $height) {
  display: flex;
  flex-flow: column nowrap;
  height: $height;
}

%full-view-vertical {
  @include flex-vertical(100%);
}

@mixin flex-center ($content-center: false) {
  display: flex;
  align-items: center;
  @if $content-center {
    justify-content: center;
  }
}
