@mixin pseudo ($display: block, $position: absolute, $bg-color: false) {
  content: '';
  display: $display;
  position: $position;
  @if $bg-color{
    background-color: $bg-color;
  }
}

@mixin arrow-dropdown() {
  &::before, &::after{
    content: '';
    display: inline-block;
    position: absolute;
  }
}

@mixin dropdown-arrow-right ($right) {
  @include arrow-dropdown();
  &::before, &::after {
    top: -0.375rem;
    right: $right;
  }
  &::before {
    border-bottom: 0.375rem solid rgba(0, 0, 0, .6);
    border-left: 0.375rem solid rgba(0, 0, 0, 0);
    border-right: 0.375rem solid rgba(0, 0, 0, 0)
  }
  &::after {
    border-bottom: 0.375rem solid #FFFFFF;
    border-left: 0.375rem solid rgba(0, 0, 0, 0);
    border-right: 0.375rem solid rgba(0, 0, 0, 0)
  }
}
@mixin dropdown-arrow-left ($left) {
  @include arrow-dropdown();
  &::before, &::after {
    top: 0.1875rem;
    left: $left;
  }
  &::before {
    border-top: 0.375rem solid transparent;
    border-left: 0 solid #ddd;
    border-right: 0.375rem solid #4d6d8e;
    border-bottom: 0.375rem solid transparent
  }
  &::after {
    border-top: 0.375rem solid transparent;
    border-left: 0 solid #FFFFFF;
    border-right: 0.375rem solid #FFFFFF;
    border-bottom: 0.375rem solid transparent
  }
}
