// Sizing shortcuts

@mixin size-box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin padding-x($padding-l, $padding-r: $padding-l) {
  padding-left: $padding-l;
  padding-right: $padding-r;
}

@mixin padding-y($padding-t, $padding-b: $padding-t) {
  padding-top: $padding-t;
  padding-bottom: $padding-b;
}

@mixin margin-x($margin-l, $margin-r: $margin-l) {
  margin-left: $margin-l;
  margin-right: $margin-r;
}

@mixin margin-y($margin-t, $margin-b: $margin-t) {
  margin-top: $margin-t;
  margin-bottom: $margin-b;
}
