//Open-Sans
$font-open-sans-path : '../fonts/Open-sans/OpenSans';
$font-open-sans-type: 'Light' 'Regular' 'SemiBold' 'Bold';
$font-open-sans-weight: 300 400 600 700;

@for $i from 1 through length($font-open-sans-type){
  @font-face {
    font-family: 'Open Sans';
    src: url('#{$font-open-sans-path}-#{nth($font-open-sans-type,$i)}.ttf') format("truetype"),
    url('#{$font-open-sans-path}-#{nth($font-open-sans-type,$i)}Italic.ttf') format("truetype");
    font-weight: nth($font-open-sans-weight,$i);
    font-display: swap;
  }
}

$font-calps-path : '../fonts/calps-complete-family/calps';
$font-calps-type: 'regular' 'semilight';
@for $i from 1 through length($font-calps-type) {
  @font-face {
    font-family: 'Calps-#{nth($font-calps-type,$i)}';
    src: url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.eot');
    src: url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.woff2') format('woff2'),
    url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.woff') format('woff'),
    url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.ttf') format('truetype'),
    url('#{$font-calps-path}-#{nth($font-calps-type,$i)}.svg#youworkforthem') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
