//mail page
.mail-section{
  .list-group-item{
    &.active{
      background-color: $active-color;
    }
    + .list-group-item.active{
      margin-top: 0;
      border-top-width: 0;
    }
  }
}

.mail-btn{
  .btn{
    border: 0;
    &:focus{
      box-shadow: none;
    }
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus{
    color: #051d43;
  }
  .btn-primary:not(:disabled):not(.disabled).active {
    background-color: $light-dark !important;
    &:focus{
      color: white;
    }
  }
}

.mail-list{
  .list-group-item.active {
    .text-ellipsis, .small {
      //color: #61e8ff !important;
    }
    .text-muted{
      //color: white!important;
    }
  }
}

//mail, calendar pages
.cal-month-view {
  .cal-header {border: $border-width solid $border-color;
    .cal-cell{padding: 0.75rem 0; background-color: $purple!important; color: $primary; text-transform: uppercase; font-size: 0.6875rem;
      &:not(:last-child) {border-right: $border-width solid $border-color;}
    }
  }
  .cal-day-number {font-size: 0.875rem!important; opacity: 1; margin-top: 0.9375rem;}
  .cal-events {margin: 1rem}

  .cal-days {
    border-color: $border-color;
    border-radius: 0 0 $border-radius $border-radius;
    >.ng-star-inserted:last-child .cal-cell-row {
      border-bottom: 0;
    }
  }
  .cal-day-badge {margin-top: 1rem; margin-left: 1rem; padding: 0; height: $size-xs; min-width: $size-xs; line-height: $size-xs; border-radius: $size-xs; font-size: 0.5625rem}
  .cal-day-cell{position: relative; min-height: 8.5rem;
    &:focus{outline-color: $link-color}
    &.call-today {background-color: #d4eefa!important}
    &:not(:last-child) {border-color: $border-color;}
  }
  .cal-dot{
    @include size-box(0.625rem);
    border-radius: 100%;
    margin-top: 0.3125rem;
  }
  .cal-cell-top {
    min-height: 0;
  }
}
.calendar-content {
  position: relative;
  min-height: unset;
  .info-box{
    position: absolute;
    right: 1.125rem;
  }
  .info-detail{
    padding-right: 30.25rem;
    &:after{
      @include pseudo($position: sticky, $bg-color: #ddd);
      @include size-box(calc(100% - 3rem),1px);
      bottom: 0;
      margin-left: 3rem;
    }
  }

  .cal-day-cell {
    -webkit-box-flex: 0;
    flex: 0 0 14.28%;
    max-width: 14.28%;
  }

  .cal-events {
    flex-direction: column;
    justify-content: flex-end;

    .event-title {
      width: 100%;
      margin-bottom: .5rem;

      div {
        line-height: 1.4;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .popover {
    width: 17rem;
    .popover-header{
      font-weight: bold;
    }
    .popover-header,.modal-body i {
      color: $text-muted;
    }
  }
  .cal-week-view .cal-event-container.active{
    z-index: 2;
  }
}

.mail-container{
  height: calc(100% + 1.5rem);
  .nav-pills {
    @include padding-x(1.5rem);
    padding-top: 1.5rem;
  }
}
.calendar-content.close-right-bar {
  .info-detail{
    padding-right: 0;
  }
  .info-box {
    right: -30.25rem;
  }
}
