.footer{
  border-top: solid 1px #ddd;
  height: 3.5rem;
  background-color: white;
  z-index: 9999;
  position: relative;
  .footer-menu{
      height: 2.5625rem;
  }
  .copyright{
      color: $text-muted;
      padding: 0.625rem 0.9375rem;
      font-size: $font-size-base;
  }
}

.main-panel > .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px -4px 10px 0px rgba(136, 152, 170, 0.15);
}

//note-box
.note-box {
  max-height: 23.5rem;
  overflow-y: auto;
  padding-bottom: 0;
}

