// Navbar
$header-height: 3.5rem;
header {
  .navbar {
    height: $header-height;
    @include padding-x(2rem);
    .navbar-nav.mr-auto > .nav-item {
      min-width: 6rem;
      text-align: center;
      + .nav-item{
        margin-left: .5rem;
      }
      > .nav-link, .dropdown-toggle {
        white-space: nowrap;
        padding: .5rem 0.75rem;
        line-height: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        > span {
          font-size: 0.75rem;
        }
        > i{
          vertical-align: 0.125rem;
          margin-left: 0.875rem;
          opacity: .5;
        }
      }
      &.active > .nav-link {
        background-color: $secondary;
        border-radius: .25rem;
      }
    }
    .navbar-brand-wrapper {position: relative; @include size-box(5rem); z-index: 5}
  }
  .top-right-menu {
    .dropdown-menu{
      margin-top: 1.0625rem;
    }
    .dropdown-toggle i{
      font-size: 1.5rem;
    }
  }
  .ng-select .ng-dropdown-panel {
    margin-top: 0.9375rem;
  }
  .user-profile .dropdown-menu {
    z-index: 1051;
    width: 17.5rem;
    right: -0.1875rem;
    left: auto;
  }
  #notification-header sup{
    right: -0.375rem;
    top: 0;
  }
  .form-group{
    margin-bottom: 0;
    .ng-select.ng-select-single .ng-select-container, .form-control{
      height: 2.25rem;
    }
    .input-group-prepend .ng-select{
      width: 10rem;
      min-width: unset;
    }
    .ng-select .ng-dropdown-panel{
      @include dropdown-arrow-right(0.75rem)
    }
    .ng-select-container{
      border: 0;
      background-color: #1E3555!important;
      color: #fff!important;
    }
    .form-control {
      background-color: transparent;
      .ng-arrow::before {
        content: "\f002"!important;
        font-size: $font-size-base;
      }
    }
    .ng-input input{
      color: #fff;
    }
  }
  .navbar-nav{
    .dropdown-item{
      position: relative;
      .sub-dropdown-menu{
        display: none;
        position: absolute;
        right: 100%;
        top: 0;
        padding-right: 0.3125rem;
        .list-group-item{
          background-color: white;
          color: $body-color;
          &:hover{
            background-color: #deebff;
            .nav-link{
              color: #006da0;
            }
          }
          &:focus{
            outline: none;
          }
        }
      }
      &:hover .sub-dropdown-menu{
        display: block;
      }
    }
  }
}

.main-sidebar {
  .nav-item {
    &::before, &::after {content: ''; position: absolute; background-color: #fff}
    &::before {top: 0; left: 0; display: none; @include size-box(3px,100%);}
    &::after {bottom: 0; display: flex; @include size-box(50%,1px); opacity: .2; transform: translateX(50%);}
    &:last-child::after {display: none}
    &:hover, &.active {background-color: #1a7ca9}
    &.active::before {display: flex}
    .nav-link {padding: 1rem 0; height: 80px; line-height: 33px;
      b {padding: 0 8px; font-size: 10px; font-weight: bold; line-height: 1; max-width: 73px;}
      i {font-size: 18px; line-height: 0}
    }
    .dropright {
      &::before, &::after {display: none; top: 50%; left: 50%; margin: -6px 0 0 34px;}
      &.show {
        &::before, &::after {display: block}
      }
      .dropdown-toggle::after {position: absolute; top: 0; right: 0; margin: 30px -10px}
      .dropdown-menu {margin: -115px 72px; min-width: 29rem; z-index: 9999;
        .dropdown-item {width: 33.333%; border-right: 1px solid $border-color; border-top: 1px solid $border-color;
          &::before, &::after {display: none}
          &:hover, &.active {background-color: #d4eefa}
        }
      }
    }
  }
}

.dropdown-menu-sidebar {
  &.dropdown-menu {width: 29rem; z-index: 1051; left: 75px!important;
    .dropdown-item {width: 33.333%; margin-top: -1px; margin-right: -1px; border: $border-width solid $border-color;
      &::before, &::after {display: none}
      &:hover, &.active {background-color: #d4eefa}
      b {font-size: 11px;}
    }
  }
}
