.right-sidebar{
  @include right-bar(0);
}
app-customer-filter{
  height: 100%;
  display: block;
}

// Sidebar
.main-sidebar {width: 80px;visibility: visible;flex-shrink: 0;overflow-y: auto;}

.sidebar {
  transition: width 0.3s;
}

.sidebar-mini .sidebar {
  z-index: 1060 !important;
}

.sidebar-mini .sidebar, .sidebar-mini .sidebar .sidebar-wrapper {
  width: 80px
}

.sidebar-mini .main-panel {
  width: calc(100% - 80px)
}
