body, html{
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}
x-layout{
  display: grid;
  height: 100%;
  grid-template-rows: 56px auto 56px;
  main{
    overflow-x: hidden;
  }
}

.full-view{
  @include flex-vertical (100%);
}
.scrollable{
  @include scroll-y (100%)
}

.tab-scrollable{
  .tab-content, .tab-pane{
    @include scroll-y (100%)
  }
}
