//buttons widget
.info-detail {
  position: relative;

  .config-btn {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.icon-widget {
  font-size: 15px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $light-dark;
  border: 0;
  background-color: #f8f9fb;
  cursor: pointer;
  &:hover {
    color: $link-color;
  }
}

.btn-action-row, .btn-action-column,.btn-edit-title,.btn-action-config {
  position: absolute;
  border-radius: .25rem;
  background-color: #F8F9FB;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0 2px 6px 0 rgba(22,45,61,.55);
}

.btn-action-row {
  right: -1px;
  top: -33px;
}

.btn-action-column {
  left: 0;
  top: -33px;
}
.btn-action-config{
  top: 100%;
}

.btn-action-widget {
  position: absolute;
  z-index: 1;
  visibility: hidden;

  .icon {
    color: $light-dark;
    background-color: #EDF2F6;
    font-size: 18px;

    &:hover {
      color: $link-color;
    }

    + .icon {
      margin-left: 10px;
    }
  }
}

.widget-config {
  .btn-action-widget{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .icon{
      border: 1px solid $border-color;
    }
  }
}
