.cdk-drop-list.cdk-drop-list-dragging.no-items .cdk-drag {
  position: absolute;
}

.cdk-drag-preview{
  .btn-action-column, .btn-action-row, .btn-action-widget {
    display: none;
  }
  box-sizing: border-box;
  .card, .card-item, .section-container, .add-column {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
.grid-config, .search-layout,.form-config .add-column {
  .drag-item {
    color: $text-muted;
    position: relative;
  }
  .drag-item:hover .btn-action-widget {
    visibility: visible;
  }
  .cdk-drop-list-dragging .btn-action-widget {
    visibility: hidden;
  }
}
.cdk-drop-list {
  .add-row {
    position: relative;
    min-height: 80px;
    border: 1px solid transparent;
    padding: .5rem;

    + .add-row {
      margin-top: 40px;
    }

    &:hover {
      border-color: #ddd;
      border-style: dashed!important;
      background-color: #EEF8FF;
    }
  }

  .drag-item {
    position: relative;

    &:hover {
      .btn-action-widget {
        visibility: visible;
      }
    }
  }
}
.add-column {
  position: relative;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 0.625rem;

  &:hover {
    border-color: #c8c8c8;
    border-style: dashed!important;
    background-color: #ececec;
  }
}
.cdk-drag-placeholder{
  opacity: 0;
  margin-top: 1.25rem;
}
