.form-config{
  .btn-action-widget {
    right: 0.25rem;
    top: 0.25rem;
    .icon{
      border: 0;
      background-color: transparent;
    }
  }

  .form-section-title{
    .form-control{
      height: 2rem;
    }
    .edit-section-title {
      opacity: 0;
      color: $text-muted;
      transition: all .3s ease-in-out;
    }
    .section-title:hover {
      .edit-section-title {
        opacity: 1;
      }
    }
  }
  .form-edit-title{
    position: relative;
    .btn-edit-title{
      opacity: 1;
      top: -2.1875rem;
    }
    input{
      min-width: 4rem;
      padding-top: 0.75rem;
    }
  }
  .layout-noted{
    height: 3.875rem;
  }
  .add-column{
    .layout-noted{
      height: 2.5rem;
    }
  }
  &:hover .layout-noted{
    box-shadow: none !important;
  }
  .cdk-drag-placeholder{
    height: 2.5rem;
    margin-top: 1rem;
  }
}
.section-container{
  background-color: #fff;
}
.cdk-drag-preview .section-container {
  padding: 1rem;
}
