.grid-config {
  padding-bottom: 2rem;
  .drag-list{
    height: 100%;
  }
  .layout-noted{
    width: 100%;
  }
  .drag-item + .drag-item{
    margin-left: -1px;
  }
  .drag-item{
    &:hover{
      .btn-action-config{
        visibility: visible;
      }
      background-color: $teal;
    }
  }
  .cdk-drag-placeholder {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

//.layout-wrapper {
//  .cdk-drag-placeholder {
//    position: absolute;
//  }
//}

.grid-column{
  background-color: white;
  color: $body-color;
  @include flex-vertical(100%);
  .grid-header, .grid-box{
    line-height: 1;
    padding: 12px;
  }
  .grid-header{
    font-weight: bold;
  }
  .grid-box{
    border: 1px solid $border-color;
  }
}
