.search-layout {
  .drag-list {
    min-height: 3.75rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    .drag-item:last-child .form-group{
      margin-bottom: 0;
    }
  }
  .search-box{
    height: 37.5rem;
  }
}
