.dashboard-wrapper {
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag {
    z-index: 9999 !important;
  }

  .cdk-drop-list-dragging {
    border: 1px dashed #0C579B !important;
    cursor: move;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-receiving {
    border: 1px dashed #1e94ff !important;
  }
}

.render-layout {
  margin-bottom: 1.875rem;
  .render-layout-col {
    .widget, .render-layout-widget {
      margin-bottom: 1.25rem;
    }
    .render-layout-widget{
      .heading-1{
        color: #0C579B;
      }
    }
  }
}

.layout-noted {
  font-style: italic;
  color: $text-muted;
  height: 5.125rem;
  @include flex-center($content-center:true);
  background-color: #F8F9FB;
  padding: .5rem;
}

.cdk-drop-list-dragging {
  .col-item, .row-item, .widget-item {
    &:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

#row-list{
  max-height: 10.75rem;
  overflow-y: auto;
}

.widget-config .drag-item {
  margin-top: 1.25rem;
}

.cdk-drop-list.add-column .drag-item:first-child {
  margin-top: 0;
}
