@import "widget-config";
@import "grid-config";
@import "search-layout";
@import "form-config";
@import "button";
@import "drag-drop";
$border-design-box: #E0E4ED;

.design-tool {
  z-index: 9999 !important;
  width: 19.6875rem;
  height: 49.375rem;
  position: fixed;
  top: 7.9375rem;
  left: 1.4375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

  .btn-tool{
    display: inline-block;
    padding: 0.15625rem 0.625rem;
    &:hover{
      background-color: #dde9f9;
    }
  }
  .collapse-btn{
    margin-right: -0.75rem;
  }
  .collapse-label{
    height: 1.375rem;
    @include flex-center;
  }
  .row-item, .widget-item {
    margin-top: 0.625rem;
    &:nth-child(odd){
      padding-right: 0.625rem;
    }
    &:nth-child(even){
      padding-left: 0.625rem;
    }
    &:nth-child(1), &:nth-child(2){
      margin-top: 0;
    }
  }
  #widget-list, #fields-list {
    overflow-y: auto;
  }
  .cdk-drag-placeholder {
    opacity: 1;
  }

  .cdk-drop-list-dragging {
    border: none !important;
  }

  .card-header {
    padding: 0.5rem 1.5625rem 0.75rem;
    .heading-1 {
      margin-top: 0.125rem;
    }
    .nav-link {
      padding: 0.25rem 0.9375rem;
    }
  }
  .drag-handle {
    cursor: move;
    background-color: $body-bg;
    & ~ .card-header{
      background-color: #F3F7FA;
      border-color: $border-design-box;
      .nav-tabs .nav-link.active {
        border-color: $border-design-box $border-design-box #fff;
      }
      & ~ .card-body{
        border-left: 1px solid $border-design-box;
        border-right: 1px solid $border-design-box;
        margin-left: -1px;
        margin-right: -1px;
      }
    }
  }
  .card-footer{
    border-color: $border-design-box;
    display: flex;
  }
}
.widget-item, .row-item {
  .card, .card-item {
    background-color: #fff;
    border-color: $border-design-box;
  }
}
.template-tool {
  border: 1px solid $border-design-box;
  padding: 2px 1px;
  background-color: white;

  [class^=col] {
    padding-left: 1px;
    padding-right: 1px;

    .layout-item {
      width: 100%;
      min-height: 1rem;
      background-color: #E5EAF0;
    }
  }
}

.cdk-drag{
  .card-item{
    border: 1px solid $border-design-box;
    border-radius: 2px;
    height: 2.5rem;
  }
}

.minimize-tool {
  height: 1.5625rem!important;
  overflow: hidden;
  .card-header, .card-body,.card-footer{
    display: none;
  }
}
