/// Borders

.border-lg {border: $border-lg-width solid $border-lg-color}
.dashed-line{
  border-bottom: 1px dashed #ced4da !important;
}

.border-dashed{
  border: 1px dashed #ddd;
}

.border-md{
  border-width: 1.5px !important;
}

.border-transparent{
  border-color: transparent;
}
