/// Icons

.fa, .fas {
  &.rounded-circle {border: 1px solid #ddd; width: 24px; height: 24px; text-align: center; line-height: 22px; font-size: 12px;}
}


// Spin loading
.btn .fa-spin {display: none!important; order: 1; }
.btn .fa-display {display: none!important; order: 0}
.is-loading {@include flex-center($content-center:true);
  span {order: 2}
  .fa-spin {display: inline-block!important; margin-left: 0.3125rem}
  .fa-loading {display: none!important; order: 0}
  .fa-display {display: inline-block!important; order: 0}
  &.btn-square .fa-spin {margin-right: 0}
}
