.w-aside{
  width: 26.875rem;
  flex-shrink: 0;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width:  $i * 1%;
  }
}

.h-32 {
  height: 2rem!important;
  .ng-select-container{
    min-height: unset!important;
    .ng-input input{
      line-height: 0;
    }
  }
  .form-control,.ng-select-container{
    height: 2rem!important;
  }
}
//.mh-unset { max-height: unset !important; }
.height-unset{
  height: unset;
}
