$padding-default: 2rem;
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .p#{$infix}-default{
      padding: $padding-default;
    }
    .px#{$infix}-default{
      @include padding-x($padding-default);
    }
    .py#{$infix}-default{
      @include padding-y($padding-default);
    }
    .pt#{$infix}-default{
      padding-top: $padding-default;
    }
    .pb#{$infix}-default{
      padding-bottom: $padding-default;
    }
    .pl#{$infix}-default{
      padding-left: $padding-default;
    }
    .pr#{$infix}-default{
      padding-right: $padding-default;
    }
  }
}
