/// Template

// Main layout
main.scrollable {transition: width .3s ease-out 0s}
.d-grid {display: grid}

// Heading title
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  &.border-bottom {
    border-bottom-width: 3px !important
  }
}

// Others
.pointer {
  cursor: pointer
}

.cursor-move {
  cursor: move
}

.mnw-auto {
  min-width: auto !important
}

.opacity {
  opacity: .5
}

.w-400 {width: 25rem}; // 400px

.d-letter {font-size: 0!important;
  &:first-letter {font-size: 12px!important;}
}

#crm-main-container{
  z-index: 1;
}
app-header{
  z-index: 2;
}

//app-customer-detail, app-customer-tab-list, app-customer-tab-list .tab-pane, app-customer-tab-list .tab-content, .detail-tab .tab-content, .detail-tab .tab-pane, c-tab-page-layout {
//  height: 100%;
//}
.task-page, app-sale-details, ngb-tabset.full-view .tab-content, ngb-tabset.full-view .tab-content .tab-pane {
  height: 100%;
}
.overflow-y-hidden {overflow-y: hidden!important}

//app-customer-page, app-sale-list {
//  display: flex;
//  flex-direction: column;
//  flex-flow: column nowrap;
//  height: 100%;
//}

app-customer-detail .c-panel-main-container {
  position: unset;
}
