.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: .5rem;
}
.word-break{
  word-break: break-word;
}

$heading-size:(1.3, 1.5, 2, 3, 4, 5);
@for $i from 1 through length($heading-size) {
  .heading-#{$i} {
    font-size: nth($heading-size, $i) +rem;
    text-transform: uppercase;
    font-family: 'Calps-semilight';
    margin-bottom: 0;
    white-space: nowrap;
  }
}
.heading-sm{
  font-size: 1rem!important;
}
.number{
  font-family: 'Calps-semilight';
}

$line-height:(1, 1.5, 2);
@for $i from 1 through length($line-height) {
  .line-height-#{$i} {
    line-height: nth($line-height, $i);
  }
}

.text-line-through{
  text-decoration: line-through;
}

a{
  cursor: pointer;
}

.font-weight-semi-bold{
  font-weight: 600;
}

$lineText:(1,2,3,4,5);
@for $i from 1 through length($lineText){
  .text-truncate-vertical-#{$i}{
    @include text-truncate-vertical($i);
  }
}

//status
.label-done{
  background-color: #DCECC7;
}
.label-in-progress{
  background-color: #BAD79F;
}
.label-to-do{
  background-color: #EDF0F5;
}
