@import "src/assets/styles/abstracts/mixins";
.card{
  h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
  }
  font-size: 0.875rem;
  small{
    font-size: 0.625rem;
  }
}
.tab-main {
  border: 0;
  .nav-link{
    border: 0;
    line-height: 2rem;
    background-color: #F8F8F8;
    margin-right: .5rem;
    max-width: 13.75rem;
    position: relative;
    border-radius: .25rem .25rem 0 0;
    overflow: hidden;
    color: #505050;
    &.active{
      &:before{
        content: '';
        height: .25rem;
        width: 100%;
        background-color: #193D7F;
        position: absolute;
        top: 0;
        left: 0;
      }
      color: #041E42;
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .heading-1{
    font-size: 1.5rem!important;
    &.active{
      font-weight: normal;
    }
  }
  + .tab-content {
      background-color: #f2f2f2;
    .card-header{
      background-color: #FCFCFC;
    }
  }
}

.list-group-light{
  .list-group-item {
    padding: 0 1.5rem;
  }
}
.border-right, .border-left, .list-group-light .list-group-item, .card-header{
  border-color: #F2F2F2!important;
}
.sub-heading{
  font-weight: 600;
  letter-spacing: 0.02rem;
}
button{
  height: 2.5rem;
}

//checkbox
$check-size: 16;
$check-color: white;
.input-check {
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  span{
    color: inherit;
  }
}

input[type=checkbox] {
  width: 0;
  opacity: 0;
  + .check {
    @include size-box ($check-size + px);
    border: solid 2px #a0a0a0;
    display: inline-flex;
    vertical-align: -3px;
    position: relative;
  }
}
input[type=checkbox] + .check {
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;

  &:before, &:after {
    @include pseudo(inline-block);
    @include size-box (0);
    transition: all .3s ease-in-out;
    border-bottom: solid 2px;
    border-color: white;
    transform-origin: 0 0;
    opacity: 0;
    border-radius: 10px;
  }

  &:before {
    transform: rotate(45deg);
    left: 2px;
    top: 5px;
  }

  &:after {
    transform: rotate(-45deg);
    left: 4px;
    top: 8.5px;
  }
}
input[type=checkbox]:checked {
  + .check {
    border-color: #5BC2E7;
    background-color: #5BC2E7;

    &:before, &:after {
      border-color: $check-color;
    }

    &:before {
      width: 6px;
      opacity: 1;
    }

    &:after {
      width: 9px;
      opacity: 1;
      transition-delay: 0.2s;
    }
  }
}

.col-check-role{
  width: 14.125rem;
  flex-shrink: 0;
}

.col-check-role-lg{
  width: 17.25rem;
  flex-shrink: 0;
}
