<div class="py-default">
  <ul class="nav nav-tabs tab-main px-default" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link heading-1" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="true">roles</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="permissions" aria-selected="false">Permissions</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="agent-tab" data-toggle="tab" href="#agent" role="tab" aria-controls="agent" aria-selected="false">Agent Manager</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">...</div>
    <div class="tab-pane fade show active" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
      <div class="p-default">
        <div class="card border-0">
          <div class="card-body px-4 py-3">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h5 class="text-uppercase sub-heading">Modules</h5>
              </div>
              <div class="col-check-role flex-center">
                <h5 class="text-uppercase sub-heading">Seller</h5>
              </div>
              <div class="col-check-role flex-center">
                <h5 class="text-uppercase sub-heading">Manager</h5>
              </div>
              <div class="col-check-role flex-center">
                <h5 class="text-uppercase sub-heading">Admin</h5>
              </div>
              <div class="col-check-role flex-center">
                <h5 class="text-uppercase sub-heading">Supervisor</h5>
              </div>
              <div class="col-check-role flex-center">
                <h5 class="text-uppercase sub-heading">Agent</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-2 border-0" *ngFor="let i of [1,2,3]">
          <div class="card-header px-4 py-3">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4 class="font-weight-bold">Accounts</h4>
              </div>
              <div class="col-check-role flex-center" *ngFor="let i of [1,2,3,4,5]">
                <label class="input-check">
                  <input type="checkbox"
                         name = "checkbox"/>
                  <span class="check"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush list-group-light">
              <li class="list-group-item" *ngFor="let item of roles">
                <div class="d-flex">
                  <div class="flex-grow-1 py-2">
                    <div>{{item.name}}</div>
                    <small class="text-muted">{{item.description}}</small>
                  </div>
                  <div class="col-check-role flex-center border-left" *ngFor="let i of [1,2,3,4,5]">
                    <label class="input-check">
                      <input type="checkbox"
                             name = "checkbox"/>
                      <span class="check"></span>
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex mt-5">
          <button type="submit" class="btn btn-secondary px-3"><i class="fal fa-save mr-2"></i>Save</button>
          <button type="button" class="btn btn-ghost ml-2 px-3">Cancel</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="agent" role="tabpanel" aria-labelledby="agent-tab">
      <div class="p-default">
        <div class="row">
          <div class="col-6">
            <div class="card border-0">
              <div class="card-body px-4 py-3">
                <div class="row">
                  <div class="col-9">
                    <h5 class="text-uppercase sub-heading">Modules</h5>
                  </div>
                  <div class="col-3 flex-center">
                    <h5 class="text-uppercase sub-heading">Admin</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-2 border-0" *ngFor="let i of [1,2,3]">
              <div class="card-header px-4 py-3">
                <div class="row">
                  <div class="col-9">
                    <h4 class="font-weight-bold">Accounts</h4>
                  </div>
                  <div class="col-3 flex-center">
                    <label class="input-check">
                      <input type="checkbox"
                             name = "checkbox"/>
                      <span class="check"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush list-group-light">
                  <li class="list-group-item" *ngFor="let item of roles">
                    <div class="row">
                      <div class="col-9 border-right py-2">
                        <div>{{item.name}}</div>
                        <small class="text-muted">{{item.description}}</small>
                      </div>
                      <div class="col-3 flex-center">
                        <label class="input-check">
                          <input type="checkbox"
                                 name = "checkbox" checked/>
                          <span class="check"></span>
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-flex mt-5">
              <button type="submit" class="btn btn-secondary px-3"><i class="fal fa-save mr-2"></i>Save</button>
              <button type="button" class="btn btn-ghost ml-2 px-3">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

