/// Custom libraries

.board-wrap .cdk-drop-list-dragging {background-image: url('assets/images/item-placeholder.png');background-repeat: no-repeat;background-position: top center;background-size: 92%;}
.ng-select {
  .ng-select-container{
    min-height: 2.25rem;
  }
  &.ng-select-single {min-width: 12rem;
    .ng-select-container {height: $input-height}
  }
  &.ng-select-multiple {
    //.ng-select-container {height: $input-height};
    .ng-placeholder {top: 0.65625rem!important;}
  }
  .ng-select-container, .ng-option-label, .ng-clear-wrapper {color: $body-color!important;}
  .ng-select-container, .ng-dropdown-panel {border-color: $input-border-color!important; box-shadow: none!important;}
  .ng-select-container {cursor: pointer!important}

  .ng-arrow-wrapper, .ng-clear-wrapper {width: $input-height!important; height: 2.375rem; font-size: 0.6875rem;}
  .ng-arrow-wrapper {padding-right: 0.5625rem; line-height: $input-height;
    .ng-arrow {font-family: 'Font Awesome 5 Pro'; font-weight: 300; border: 0!important;
      &::before {content: "\f078";}
    }
  }

  .ng-clear-wrapper {
    border-right: $border-width solid $input-border-color;
    border-left: $border-width solid $input-border-color;
    .ng-clear {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 1.125rem!important;
    }
  }
  &.ng-select-opened > .ng-select-container {
    .ng-arrow {top: 0;
      &::before {content: "\f077";}
    }
  }
  .ng-select-container .ng-clear-wrapper {
    border: 0;
    ~ .ng-arrow-wrapper{
      display: none;
    }
  }
  .ng-input {
    //padding-right: 2.5rem!important;
    input {
      padding-left: 0;
      line-height: 2;
    }
  }
}

.c-panel-main-container {position: relative; z-index: 1051}
.cal-open-day-events {display: none}
.card-events {display: none; position: absolute; width: 18.75rem; z-index: 999; bottom: calc(100% + .5rem); left: -0.375rem; box-shadow: $box-shadow !important; border-left: 0.375rem solid $link-color;}
.cal-open .card-events {display: flex!important}


.switch.switch-small {
  min-width: 2.375rem!important;
  height: 1.5rem!important;
  small{
    top: 0.125rem;
    right: calc(100% - 22px)!important;
  }
  &.checked{
    border-color: #5BC2E7!important;
    small{
      right: 2px!important;
    }
  }
}

.c-panel-wrapper, .c-panel-main-container, c-panel-container {@extend %full-view-vertical;}

.input-group .ng-select.ng-select-single .ng-select-container {border-top-right-radius: 0;border-bottom-right-radius: 0}
.ng-dropdown-panel {z-index: 9999!important;
  .ng-dropdown-panel-items .ng-option {padding: 0.65625rem 0.625rem;}
}

.bs-stepper {
  .step {border-bottom: 0.125rem solid $table-border-color; margin: 0 .5rem;
    &.active {border-color: #00a0ec}
  }
  .step-trigger {padding: 0; color: #a0a0a0; font-size: inherit; font-weight: inherit;
    &:hover {background-color: transparent;}
  }
  .active .step-trigger {color: #595959; font-weight: bold}
  .bs-stepper-content {padding: 0}
}

ngx-file-drop {
  .ngx-file-drop__drop-zone { border: 0.125rem dashed #ddd !important; height: 7.5rem!important; border-radius: 0 !important;}
  .ngx-file-drop__content {color: inherit!important; flex-direction: column; height: 100%!important;
    .btn {
      font-size: 0.8125rem;
      font-weight: bold;
      color: $dark;
    }
  }
}
.upload-single-file {
  .input-group > .form-control:not(:last-child) {
    border-radius: .25rem;
  }
  ngx-file-drop{
    margin-left: .5rem;
    height: 2.5rem;

    .btn {
      color: white
    }
  }
}

.table.table-lg {
  .ng-select.ng-select-single {
    .ng-select-container {height: $size-md; min-height: $size-md;}
    .ng-arrow-wrapper, .ng-clear-wrapper {width: $size-md !important; height: $size-md; line-height: $size-md!important;}
    .ng-clear-wrapper {line-height: 2.4375rem!important;}
  }
}

.ng-select.ng-select-disabled .ng-arrow-wrapper .ng-arrow {display: none}

//formly-datepicker
.input-calendar {
  .form-control {
    border-radius: 0.25rem !important;
    &:focus{
      border-color: #20b9ff !important;
    }
  }

  .input-group-text {
    position: absolute;
    right: 0;
    bottom: 1px;
    top: 1px;
    border-width: 0 0 0 1px;
    z-index: 9;
  }
}

// Alert - right modal
.cke_notifications_area{
  z-index: 99999!important;
}

//invalid selected
.has-error {
  .ng-select.ng-invalid {
    .ng-arrow-wrapper{
      color: #ff4a55 ;
    }
    .ng-select-container {
      border-color: #ff4a55 !important;
    }
  }
}

//header select
.form-fix-width .ng-select {
  width: 15rem;
  .ng-input{
    padding-right: 5.625rem;
  }
}

// formly-toggle-input
.switch{
  font-weight: bold;
}
//ckeditor - template detail
.template-detail {
  .template-content .cke_contents {
    height: 20.0625rem !important;
  }
  .appointment-content .cke_contents {
    height: 27.3125rem !important;
  }
}

//Advanced search
.advanced-search-form {
  .form-control, .ng-select-container {
    width: 12rem!important;
    input{
      min-width: 3.125rem;
    }
  }
}

.search-property-dropdown {
  .ng-select-container{
    border-radius: 0.25rem!important;
    min-width: 12rem;
    width: auto!important;
  }
  .ng-value-container{
    flex-wrap: nowrap!important;
  }
  .ng-input{
    display: none;
  }
  .ng-dropdown-header{
    padding: 1rem;
    background-color: $teal;
    border-bottom: 0;
  }
  .ng-dropdown-panel{
    //width: 370px;
    margin-top: .5rem;
    border: 0;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15) !important;
  }
  .ng-dropdown-panel-items{
    margin: .5rem 1rem;
    .ng-option{
      border-bottom: 1px solid #ddd;
      padding: .5rem 0;
      background-color: #ffffff!important;
      .input-check {
        padding: .5rem 0 0.25rem;
        .check ~span{
          color: $body-color;
        }
      }
      .input-check ~ .form-control{
        border: 0;
        background-color: transparent;
        padding: 0.625rem 0 0;
        width: 100%!important;
      }
    }
  }
}
.input-search{
  position: relative;
  .form-control{
    padding-right: 2.3125rem;
    width: 100%!important;
  }
  .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
  }
}

//action page
.action-page {
  .form-select{
    width: 13.5rem;
  }
  .ng-option-disabled .ng-option-label {
    font-family: 'Calps-semilight';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;
  }
}

//Account detail - map
c-embed-map .gm-control-active{
  width: 2.5rem;
  height: 2.5rem;
}
