// Hot fix for cdk overlay
.cdk-overlay-container {
  position: fixed;
  z-index: 99999 !important;
}

.file-drop-zone {
  border: 2px dashed #ccc;
}

// datetime picker
owl-date-time + input {
  border-left: 1px solid #ccc !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

tag-input-form input {
  margin-top: -10px;
}

.modal.right.modal-full-width .modal-dialog {
  min-width: calc(100% - 80px) !important;
}

.modal.right.modal-half-width .modal-dialog {
  min-width: 800px !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: #007aff !important;
}

@media (max-width: 1600px) {
  .modal.right.modal-full-width .modal-dialog {
    min-width: calc(100% - 80px) !important;
  }
}

.loader-container {
  position: relative;
  min-height: 300px;
  display: block;
}
.tab-pane .loader-container{
  display: block;
  .loader-item{
    left: 50%;
  }
}

.loader-wrapper {
  background-color: #ffffff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.loader-item {
  height: 50px;
  width: 50px;
  border: 8px solid #e6d5d5;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
  position: absolute;
  left: calc(50% - 25px);
  z-index: 3;
}

///* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.img-profile {
  width: 10rem;
  height: 10rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.text-capitalize {
  text-transform: capitalize;
}

.filter-section {
  .ng-select {
    margin-right: 10px;

    .ng-select-container {
      min-width: 120px !important;
    }
  }
}
.filter-card-footer {
  display: flex;
}

.form-select {
  ng-select {
    flex-grow: 1;
    width: 100%;
  }
}

.btn-light-grey {
  background-color: #cfd0d2;
}

@-o-keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #70b670;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #70b670;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.have-just-added {
  background-image: none !important;
  -o-animation: fadeIt 1s ease-in-out;
  animation: fadeIt 1s ease-in-out;

  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

@-o-keyframes fadeItStatus {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #54acc4;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@keyframes fadeItStatus {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #54acc4;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.have-just-changed-status {
  background-image: none !important;
  -o-animation: fadeItStatus 1s ease-in-out;
  animation: fadeItStatus 1s ease-in-out;
}

@-o-keyframes fadeout {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0
  }
}

@keyframes fadeout {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0
  }
}

.fade-out {
  -o-animation: fadeout 1s ease-in-out;
  animation: fadeout 1s ease-in-out;
}

// custom css for tree d3
.customer-friend-tree {
  min-height: 25rem;

  path.link {
    fill: none;
    stroke: #c8c8c8;
    stroke-width: 1px;
  }

  .node {
    &.node-expandable {
      &:hover {
        cursor: pointer
      }
    }
  }

  .box {
    background: #496082;
    padding: 0.625rem;
    color: white;
  }
}

// customer css for ckeditor autocomplete
.cke_autocomplete_panel{
  z-index: 10000 !important;
}

ul.cke_autocomplete_panel .photo {
  display: inline-block;
  vertical-align: middle;
  height: 1.875rem;
  border-radius: 50%;
}

.cke_autocomplete_panel .username {
  padding-left: 0.3125rem;
}

.cke_autocomplete_panel .fullname {
  padding-left: 0.3125rem;
  color: #33577a;
}

.note-description {
  .cke_top {
    display:none !important;
  }
}

.gmap-street-view {
  height: 85vh;
}

//upload file
.sample-file{
  border: 2px dashed #ddd;
  .download-icon{
    transition: all .3s ease-in-out;
  }
  i{
    color: #C6E2FA;
  }
  &:hover{
    .download-icon{
      color: #3382cc !important;
    }
  }
}

//tooltip
.show.tooltip{
  z-index: 99999;
}

#searchIcon .ng-select .ng-arrow-wrapper span.ng-arrow:before {
  content: "\f002";
}

#searchIcon .ng-select .ng-clear-wrapper {
  display: none;
}


json-schema-form {
  .form-flex-row{
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
  .form-flex-item {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 1rem;
    .form-group {
      margin-bottom: 0;
    }
  }

  label span{
    color: $danger;
  }

  section-widget > div > label {
    font-family: 'Calps-semilight';
    text-transform: uppercase;
    font-weight: 400 !important;
    font-size: 1.125rem;
    color: #2A2A2A;
  }
}
.button-loading-space{
  margin-left: 0.25rem;
}
.bpmn-ended {
  &:not(.djs-connection) {
    .djs-visual {
      & > :nth-child(1) {
        stroke: rgba(66, 180, 21, 0.7) !important;
        fill: rgba(66, 180, 21, 0.7)!important;
      }
    }
  }
  .djs-visual {
    & > :nth-child(1) {
      stroke: rgba(66, 180, 21, 0.7) !important;
    }
  }
}

.bpmn-waiting {
  &:not(.djs-connection) {
    .djs-visual {
      & > :nth-child(1) {
        stroke: rgb(204, 204, 0) !important;
        fill: rgb(204, 204, 0)!important;
      }
    }
  }
  .djs-visual {
    & > :nth-child(1) {
      stroke: rgb(204, 204, 0) !important;
    }
  }
}
.popover-body{
  .modal-footer{
    border: none;
  }
}
