//Summary

@media (min-width: 2000px){
  html{
    font-size: 17.8px;
  }
}
@media (min-width: 2300px){
  html{
    font-size: 18px;
  }
}
@media (max-width: 1880px) {
  .detail-content .card-col .list-group .list-group-item .text-truncate{
    max-width: 12.5rem;
  }
}
@media (max-width: 1780px) {
  .detail-content .card-col .list-group .list-group-item .text-truncate{
    display: block;
    max-width: 9.5rem;
  }
  .heading-1{
    font-size: 1.1rem;
  }
  .heading-2{
    font-size: 1.3rem;
  }
  .card-deck .card{
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .detail-content .info-box{
    width: 25rem!important;
  }
  .detail-content.close-left-bar{
    .info-box{
      margin-left: -26.875rem!important;
    }
  }
  //mail-container
  .calendar-content{
    .info-box{
      width: 22rem;
    }
    .info-detail {
      padding-right: 26rem;
    }
  }
}
@media (max-width: 1700px){
  html{
    font-size: 15px;
  }
}
@media (max-width: 1600px) {
  html{
    font-size: 14px;
  }
}
@media (max-width: 1500px) {
  html{
    font-size: 13px;
  }
}

@media (max-width: 1375px) {
  header {
    .navbar-brand {
      margin-right: 0;
      img {
        width: 70% !important;
      }
    }
    .navbar-collapse{
      .nav-link{
        //font-size: 12px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .detail-content {
    .info-detail,.info-box{
      width: 100%!important;
    }
    .info-detail{
      margin-top: 1.5rem;
    }
    .info-box{
      margin-right: 0!important;
      .customer-social-link{
        flex-shrink: 0;
      }
    }
  }
  .customer-img{
    height: unset!important;
  }
  .btn-collapse{
    display: none;
  }
  .modal-xl {
    max-width: 1040px;
  }
  .mail-section > :not(.mail-content) {
    height: 60%;
    border-bottom: 1px solid $border-color;
  }
  //mail-container
  .calendar-content {
    .info-detail{
      padding-right: 0;
      margin-top: 0;
    }
    .info-box{
      width: 22rem!important;
      right: 3rem;
      z-index: 2;
    }
  }
}
@media (max-width: 1160px) {
  .table caption {
    top: 2rem!important;
    transform: translateX(-1.231rem)!important;
  }
}
@media (max-width: 1100px) {
  .modal-xl {
    max-width: 900px;
  }
}
@media (max-width: 992px) {
  .modal-lg,.modal-xl{
    max-width: 800px;
  }
  .nav-steps .nav-item {
    padding-top: 35px!important;
    .nav-step-name {
      white-space: unset!important;
      font-size: 10px;
      text-align: center;
    }
  }
  .account-info {
    .customer-social-link, .customer-img {
      width: 33%;
    }
  }
  .lead-info .customer-img {
    width: 38%;
  }
  .calendar-view {
    flex-direction: column;
    > h2 {
      text-align: center;
    }
    .calendar-btn {
      margin-left: 0!important;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .modal-lg,.modal-xl{
    max-width: 720px;
  }
  .nav-steps .nav-item {
    padding-top: 48px!important;
  }
  .ng-select.ng-select-single {
    min-width: 11.5rem!important;
  }
}
@media (max-width: 800px) {
  .page-option{
    margin-left: 8px!important;
    padding-left: 8px!important;
  }
  app-customer-list .action-page .form-select {
    width: 12.5rem;
  }
}

//height
@media (max-height: 980px) {
  .design-tool {
    top: 80px!important;
    height: 750px!important;
  }
}
@media (max-height: 915px) {
  .design-tool {
    height: 650px!important;
  }
}
