@mixin arrow-dropdown1($direction, $top: false, $right: false, $left: false){
  &::before, &::after{
    content: '';
    display: inline-block;
    position: absolute;
    @include size-box(0);
    @if $top{
      top: $top;
    }
    @if $left{
      left: $left;
    }
    @if $right{
      right: $right;
    }
  }
  //@if $direction == down {
  //  border-left: $size solid transparent;
  //  border-right: $size solid transparent;
  //  border-top: $size solid $color;
  //  margin-top: 0 - round( $size / 2.5 );
  //} @else if $direction == up {
  //  border-left: $size solid transparent;
  //  border-right: $size solid transparent;
  //  border-bottom: $size solid $color;
  //  margin-bottom: 0 - round( $size / 2.5 );
  //} @else if $direction == right {
  //  border-top: $size solid transparent;
  //  border-bottom: $size solid transparent;
  //  border-left: $size solid $color;
  //  margin-right: -$size;
  //} @else if  $direction == left {
  //  border-top: $size solid transparent;
  //  border-bottom: $size solid transparent;
  //  border-right: $size solid $color;
  //  margin-left: -$size;
  //}
}
.arrow-top-right {
  @include arrow-dropdown1($top: -0.375rem, $left: 10px);
}
