/// Variables

// Color system
$primary                    : #041E42;
$primary-light              : #193D7F;
$primary-lightest           : #2251A8;
$secondary                  : #193D7F;
$success                    : #00BC57;
$danger                     : #D72626;
$warning                    : #F9A400;
$lightest-grey              : #F8F8F8;
$purple                     : #f9fafb;
$pink                       : #eef4f7;
$cyan                       : #8495af;
$teal                       : #f8f8f8;
$ghost                      : #ffffff;
$dark                       : #041e42;
$gray                       : #848484;
$light-blue                 : #5bc1e7;
$light-dark                 : #0C579B;
$link-color                 : #5BC2E7;
$light-cyan                 : #f4f8fb;
$light-gray                 : #f4f3f4;
$gray-blue                  : #bdd1e9;
$light-gray2                : #e5e5e5;
$light-gray3                : #F8F9FB;
$active-color               : #e7f1f6;
//neutral palette
$neutral-grey               : #7E7E7E;
$theme-colors: (
    "primary"               : $primary,
    "primary-light"         : $primary-light,
    "primary-lightest"      : $primary-lightest,
    "secondary"             : $secondary,
    "success"               : $success,
    "danger"                : $danger,
    "warning"               : $warning,
    "lightest-grey"         : $lightest-grey,
    "purple"                : $purple,
    "pink"                  : $pink,
    "cyan"                  : $cyan,
    "teal"                  : $teal,
    "ghost"                 : $ghost,
    "dark"                  : $dark,
    "gray"                  : $gray,
    "light-blue"            : $light-blue,
    "light-dark"            : $light-dark,
    "link-color"            : $link-color,
    "light-cyan"            : $light-cyan,
    "light-gray"            : $light-gray,
    "gray-blue"             : $gray-blue,
    "light-gray2"           : $light-gray2,
    "light-gray3"           : $light-gray3,
    "active-color"          : $active-color,
    "neutral-grey"          : $neutral-grey,
);

// Options
$enable-caret               :  false !default;

// Body
//$body-bg                    : #f4f3f4;
$body-bg                    : #EDF0F5;
$body-color                 : #2A2A2A;
$yiq-text-dark              : $body-color;

// Components
$border-color               : #E5E5E5;
$border-lg-width            : 3px;
$border-lg-color            : rgba(221,221,221,.5);
$border-radius-lg           : .5rem;
$text-muted                 : $neutral-grey;
$size-xs                    : 1rem;
$size-sm                    : 1.5rem;
$size-md                    : 2rem;
$size-lg                    : 6rem;
$size-xl                    : 8rem;

// Breadcrumbs
$breadcrumb-padding-y       : 0;
$breadcrumb-padding-x       : 0;
$breadcrumb-bg              : white;

// Typography
$font-size-base             : .8125rem;
$h1-font-size               :  2.125rem;  //34px
$h2-font-size               :  1.5rem;   //24px
$h3-font-size               :  1.125rem;  //18px
$h4-font-size               :  1rem;      //16px
$h5-font-size               :  0.875rem;  //14px
$h6-font-size               :  0.75rem;   //12px

$small-font-size            :  85% !default;

// Tables
$table-head-height          :  2.5rem;
$table-cell-height          :  2rem;
$table-cell-padding         :  0 .75rem;
$table-border-color: #e5e5e5;
$table-accent-bg: #f8f8f8;
$table-striped-order: even;

// Buttons & Forms
$input-btn-padding-y        : .54rem;
$btn-font-size              :  $h5-font-size;
$input-height               :  $table-head-height;
$input-border-color         :  #E5E5E5;
$input-btn-focus-color      :  $primary!important;
$input-btn-focus-box-shadow :  none;
$input-color                :  $body-color;
$pagination-line-height     :  18px;
$btn-padding-y              :  0.28125rem;

// Dropdowns
$dropdown-padding-y         :  0;
$dropdown-item-padding-y    :  .5rem;
$dropdown-item-padding-x    :  1rem;
$dropdown-link-color        :  $body-color;
$dropdown-link-hover-color  :  $body-color;
$dropdown-link-hover-bg     :  #deebff;
$dropdown-border-color      :  $border-color;
$dropdown-link-active-bg    :  $primary-lightest;

// List group
$list-group-active-border-color : $border-color;
$list-group-border-color    : $border-color;
$list-group-active-bg       : $light-dark;

// Navs
$nav-link-padding-y         : 0.41rem;
$nav-link-padding-x         : 1.275rem;

$nav-tabs-link-active-bg    : #fff;
$nav-tabs-link-active-color : $body-color;

$nav-pills-link-active-bg   : #e5f5fd;
$nav-pills-link-active-color: $primary;
$nav-pills-border-radius    : 20px;

$nav-underlines-border-width: 2px;
$nav-underlines-border-color: #f2f4f7;
$nav-underlines-border-radius: 0;
$nav-underlines-link-active-color: $cyan;
$nav-underlines-link-active-bg: transparent;
$nav-underlines-link-active-border-color: #0c579b;

// Modals
$zindex-modal-backdrop      : 1051!important;
$zindex-modal               : 1051;
$modal-header-padding       : 1rem 1.5rem;
$modal-inner-padding        : 1rem 1.5rem;


// Pagination
$pagination-padding-x       : .94rem;
$pagination-line-height     : 1.4375rem;
$pagination-border-color    : $border-color;
$pagination-disabled-bg     : rgba(0,0,0, .1);


//$fa-font-path : 'styles/vendors/font-awesome/webfonts';
// Links
//
// Style anchor elements.

/*
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;*/


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1279px
  //xxxl: 1500px
) !default;

// Grid columns
//
$grid-gutter-width:           1.875rem !default;

// Cards

$card-border-radius:          .5rem !default;
