$primary: #041E42;
$primary-light: #193D7F;
$primary-lightest: #2251A8;
$secondary: #5BC2E7;

$off-black: #0F0F0F;
$darkest-grey: #2A2A2A;
$dark-grey: #505050;
$neutral-grey: #7E7E7E;
$mid-grey: #A0A0A0;
$light-grey: #E5E5E5;
$lighter-grey: #F2F2F2;
$lightest-grey: #F8F8F8;

$off-white: #FCFCFC;

$danger-dark: #970000;
$danger: #D72626;
$danger-light: #F4C5C5;
$danger-lightest: #FAE3E3;

$success-dark: #007335;
$success: #00BC57;
$success-light: #B2EDCD;
$success-lightest: #DBF7E8;

$warning-dark: #BF7E00;
$warning: #F9A400;
$warning-light: #FCE0AB;
$warning-lightest: #FFF3DC;

$info-dark: #00518B;
$info: #0079D0;
$info-light: #A8DAFF;
$info-lightest: #DDF1FF;

$info-dark: #00518B;
$info: #0079D0;
$info-light: #A8DAFF;
$info-lightest: #DDF1FF;

$text-body : $dark-grey;
$card-border-radius: .5rem;
